* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 300px;
}
.jumbotron {
  padding-top: 6rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
#letak {
  padding-top: 5rem;
}
section #profil {
  padding-top: 12px;
}
.navbar-brand {
  width: 50px;
  height: auto;
  padding-left: 5rem;
}
iframe {
  padding-left: 2px;
}
.bg {
  background-image: url(img/Pantai-Losari.jpg);
  height: 620px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
}
.text {
  text-align: center;
  padding: 50px;
  margin-top: 100px;
  width: 1100px;
  color: aliceblue;
}
.info {
  text-align: justify;
  width: auto;
}
button {
  border: none;
  background-color: plum;
  padding: 12px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 13px;
}
button:hover {
  transform: scale(1.05);
  transition: 0.6s;
  cursor: pointer;
}
#komentar p {
  text-align: justify;
  color: black;
  padding-top: 30px;
}
#tradisional {
  background-color: #8e7ab5;
}
#profil {
  background-color: #8e7ab5;
}
#komentar {
  background-color: #8e7ab5;
  margin-bottom: auto;
}
