@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  min-height: 300px;
  font-family: "Poppins", sans-serif;
}
.jumbotron {
  padding-top: 6rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
#letak {
  padding-top: 5rem;
}
section #profil {
  padding-top: 12px;
}
.navbar-brand {
  width: 50px;
  height: auto;
  padding-left: 5rem;
}
iframe {
  padding-left: 2px;
}
